:root{
    --red-color:red;
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59c0b;
    --green-color:#22c55e;
    --grey-color:#888;
}
/* Start Box  */
.d-flex{
    display: flex;
}
.aligncenter{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media(max-width: 767px){
    .mobile-block{
        display: block;
    }
}
/* End Box  */
/* Start padding + margin */
.p-10{
    padding:10px;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.p-15{
    padding:15px;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.p-20{
    padding:20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.m-0{
    margin: 0px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top:0px;
}
.mb-0{
    margin-bottom: 0px;
}
.mt-5{
    margin-top:5px;
}
.mb-5{
    margin-bottom: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-20{
    margin-top: 20px;
}
.ml-20{
    margin-left: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mb-25{
    margin-bottom: 25px;
}
/* End padding + margin */
/* Start Color  */
.bg-white{
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-grey{
    background-color: var(--grey-color);
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.c-blue{
    color: var(--blue-color);
}
.c-black{
    color: black;
}
.c-green{
    color: var(--green-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-gray{
    color:var(--grey-color);
}
.c-white{
    color:white;
}
.c-red{
    color:var(--red-color);
}
/* End Color  */
/* Start Position */
.p-relative{
    position: relative;
}
/* End Position */
/* Start Font  */
.text-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-17{
    font-size: 17px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-25{
    font-size: 25px;
}
@media(max-width: 767px){
    .txt-c-mobile{
        text-align: center;
    }
}
.fw-bold{
    font-weight:bold;
}
/* End Font  */
/*Start width*/
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
    height: 100%;
}
/*End width*/
/* start border */
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rad-20{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.rad-half{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bord1-ccc{
    border:1px solid #ccc;
}
.bordb-gray{
    border-bottom: 1px solid #eee;
}
.bord-none{
    border: none;
}
/* end border */
/* start mobile media query */
@media(max-width: 767px){
    .hide-mobile{
         display: none;
    }
}
/* End mobile media query */
/* Start components  */
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape{
    padding:5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End components  */